$color: #373737;
$color_white: #ffffff;
$font_size: 14px;


@mixin size($width, $height) {
    width: $width;
    height: $height;
}
@mixin height($height) {
    line-height: $height;
}


.box {
    @include size(100%, 100%);
    color: $color;
    .block {
        @include size(300px, 150px);
        background: lighten($color, 40%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >.top {
            span {
                color: darken($color_white, 20%);
                margin: 15px;
                display: inline-block;
                &:hover {
                    color: $color_white;
                    cursor: pointer;
                }
            }
        }
        p {
            margin-bottom: 20px;
            color: $color_white;
            font-size: $font_size + 4;
        }
     }
}

